---
title: "Getting Started"
url: "/docs/getting-started/how-it-works.html"
icon: "power-button"
weight: 2
---

{namespace pageDocsGettingStartedIndex}

/**
 *
 */
{template .render}
{/template}

/**
 * @param page
 */
{template .soyweb}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="refresh" content="0; URL='{$page.url}'">
</head>
</html>
{/template}
